
/**seller page css **/
  
  .row-under-container .tab-links {
color: #787878;
font-size: 17px;
font-weight: 400;

  }
  .row-under-container {
    background-color:white;
 
    border-top: 1px solid rgb(228, 215, 215);
  
  }
  .row-under-container  {

    vertical-align: middle;
    padding-top:8px;
    padding-left:6px;
    padding-right:6px;
    font-size: 12px;
    padding-bottom:2px;

  }
.row-under-container .col-md-1 {
width: 16.333333%;
}
.row-under-container  .col-md-2 {
    width: 13.666667%;
   font-size: 15px;
   padding-left: 2px;
   
}
.hr_border {
border-top: 2px dotted #818181;
margin-top: 0px;

}

.caption {
  padding: 7px;
}

.price {
font-size: 22px;
/* font-family: fantasy; */
font-weight: 400;
color: #616060;
line-height: 9px;
}

 .catagory-checks {
    border-radius: 2px; 
  }
  
.thumbnail-catagories {

    height: 100%;
    overflow-y: scroll;  
    background-color:#fafafa;
    margin-top: 16px;
  }
.thumbnail  hr {
margin-top: 0px;
margin-bottom: 0px;
padding: 4px;
border: 0;
border-radius: 2px;
border-top: 1px solid #eee;
font-family: font-family: 'Open Sans', sans-serif;
}
.thumbnail {
border-radius: 2px;
border: 1px solid #ededed;
}
.seller_name {
padding-left: 9px;
}

 .seller_name b {
color:#AFB2BA;
padding-left: 1px;
}
 .rating_class {
padding-right: 9px;
}

 .rating_class i {
padding-left: 3px;
color: #1f72ad;
font-size: 15px;
}

.img-thumbnail { border-radius: 2px;}
.img-thumbnail {border:none;};

.buy_btn .btn-primary {
color: #fff;
background-color: #3E3F3F;
border-color: #535658;
border-radius: 2px;
float: right;
}

.apply_btn .btn-primary {
color: #fff;
background-color: #3E3F3F;
border-color: #535658;
border-radius: 2px;
padding: 1px 10px 1px 10px;
}

 .buy_btn .btn {
padding: 3px 9px;
/* height: auto; */
/* width: 73px; */
}

.custom_product_images .col-md-3 {
/*width: 18%;*/
}
.span_buy_it_now p{
margin-top: -10px;
margin-left: 3px;
font-size: 11px;
font-family: font-family: 'Open Sans', sans-serif;
}
 .span_buy_it_now p a {
  text-decoration: none;
}

.thumbnail .caption h4 {
  margin-top: 0px;
}

.thumbnail .caption {
  padding: 2px;
}
.row-heading {
margin-top: -5px;
}
.element_count {

}
.col-md-images {
    /**
padding-right: 10px;
padding-left: 0px;**/
padding-right: 2;

}
 .rating {
  color: #828282;
 }

.rating_star{
  color: #2676af;
}

.container-seller-details {
      border: 1px solid rgb(228, 215, 215);

      padding-top: 10px;
      margin-bottom: 10px;
  }
  .row-details {

  }
  .media-heading {
    font-weight: 600;
    padding-bottom: 5px;
    color: #5F5757;
  }
  .jobtitle {
    font-weight: 600;
    font-size: 14px;
    color: #5F5757;
  }
  .companyname {
    font-weight: 600;
    font-size: 14px;
    color: #5F5757;
  }

  .located {
    font-family: 10px;
    color: #898989;
  }
  .location {
    color:black;
    padding: 7px;
  }
  .country {
     color: #898989;
     padding-left: 7px;
  }
  .country i {
     color: #898989;
     padding-left: 0px;
       padding-right: 3px;
  }
  .rating_chat .rating {
    color:#226da0;
    font-size: 18px;
  }

.rating_chat .btn-rate  {
background-color: #C0C0C0;
border-radius: 2px;
color: white;

    text-transform: uppercase;
    font-weight: 600;
  }

.rating_chat .btn-start-chat  {
    background-color: #428bca;
    border-radius: 2px;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
  }

  .rating_chat .btn-start-chat i {
    padding-right: 8px;
  }

   .rating_chat .btn-rate i {
    padding-right: 8px;
  }


.btn-default {
border: none;
}

.btn-start-chat i {
    padding:2px;
}

 
.buttons .btn {
background-color: #2676af;
border-color: #2676af;
color: white;
text-transform: uppercase;
font-weight: 500;
border-radius: 2px;
}

.buttons i {
  padding-right: 4px;
}

.buttons .btn-chat-status  {
    background-color: #FDFDFD;
    border-radius: 2px;
    color: rgb(105, 100, 100);
    text-transform: capitalize;
    font-weight: 500;
        border:1px solid rgb(226, 223, 223);;
  }

.buttons .btn-chat-status i {
    padding-right:8px;

}
.memeber_month {
padding-top: 4px;
}

.memeber {
  color: #989898;
}
.month{
 color: #4D4949;
}

.buttons .btn-chat-status {
  margin-top: 35%;
}
.bodys{
  padding-left: 18px;
}

/**seller page css end **/