
 body {
    background-color: #fafafa;
    overflow-x: hidden;
   }

	.row1 {
	         background-color: #ffffff;

	  
	         border-bottom: 1px solid #d9d9d9;
	         line-height: 2.428571;
	         background-color: #ffffff;
	         margin: 0px;
	         border-bottom: 1px solid #d9d9d9;
	         line-height: 2.428571;
	         background-color: black;
	        color: white;
	 }

	 .col-left-border {

	 	 border-right: 1px solid #d9d9d9;
	  } 
    

   header {
        background-color: rgb(247, 248, 249);
    }

    .paddings {
       padding-top: 1%;
        padding-bottom: 1%;
    }

    .row2 {
        background-color: rgb(247, 248, 249);
        background-color: rgb(247, 248, 249);
    }

    .input_search .form-control {
        border-radius: 2px;
        margin-top: 2%;
        vertical-align: middle;
    }

    .shopping_cart span{
        margin-top: 10%;
    }

  

.community_badges .badge{
    border-radius: 6px;
    padding: 4px 6px;
}
 .shopping_cart .badge {
border-radius: 6px;
margin-top: 18px;
padding: 5px 9px;
background-color: 
#1667A0;
}
.buy_btn .btn-primary {
color: #fff;
background-color: #3E3F3F;
border-color: #535658;
border-radius: 2px;
float: right;
}

.buy_btn .btn {
padding: 3px 9px;
/* height: auto; */
/* width: 73px; */
font-weight: 500;
}

.custom_product_images .col-md-3 {
/*width: 18%;*/
}
.span_buy_it_now p{
margin-top: -10px;
margin-left: 3px;
font-size: 11px;
font-family: font-family: 'Open Sans', sans-serif;
}
 .span_buy_it_nowbtbybuy
  p a {
  text-decoration: none;
}

.likes_count {
  color: #2676af;
  font-weight: 500;
}
.bio p {
  color:#8c8c8c;
  text-align: justify;
}


/****/