.footer_menufooter_menu a {
    display: block;
    width: 60px;
}
.footer_menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.footer_menu li {
    display: inline;
    position: relative;
    padding-right: 3%;
    font-weight: 400;
}
.footer_menu li a {
   text-decoration: none;
   color: #ffffff;
   font-size: 12px;
}