  
  .col-left-border {

  border-right: 1px solid #d9d9d9;
} 
    .row1 {
         background-color: #ffffff;
         margin: 0px;
         border-bottom: 1px solid #d9d9d9;
         line-height: 2.428571;
 }
 .row1 {
        background-color: black;
        color: white;
    }

     header {
        background-color: rgb(247, 248, 249);
    }
    .paddings {
       padding-top: 1%;
        padding-bottom: 1%;
    }
    .row2 {
        background-color: rgb(247, 248, 249);
       
        background-color: rgb(247, 248, 249);
    }
    .input_search .form-control {
        border-radius: 2px;
        margin-top: 2%;
        vertical-align: middle;


    }
    .shopping_cart span{
        margin-top: 10%;

    }
    .badge {
        padding: 4px 7px;
    }
    .row3 {

    background-image: url('../../assets/images/signup_large_image.png');
    background-attachment: content;
    background-size: 100%;
    background-clip: body;
    background-repeat: no-repeat;
    padding-top:4%; 
    overflow: hidden;
 }
 body {
    overflow-x:hidden;
 }
.thumbnail {
    border-top: 4px solid black;

    width: 30%;
    border-radius: 3px;
    background-color: #ffffff;
}
.thumbnail h5 {
    text-align: center;

}
.thumbnail hr {
    margin-top: 0px; 
    margin-bottom: 0px; 
}
.thumbnail label {

   font-weight: 400;
   margin-bottom:6px;
}
.thumbnail .form-control {


    border-radius: 4px;
    background-color: #f2f2f2;
    border:none;
}
form {
margin-left: 11px;
padding-right: 11px;
}
.form-group {
margin-bottom: 3px;
}

.image_left_conent {
    color: white;
}
.image_left_conent h1 {
    text-shadow: 2px 4px #534C4C;
}
.image_left_conent p {
    font-weight: 500;
}

